# Database files
*.db

# Documentation
*.md

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Virtual environments
venv/
env/

# IDE and editor files
.*/
.vscode/
.idea/

# OS files
.DS_Store
